{% extends "base.html" %}


{% block employeeClass %}
{% if activeclass == 1 %}
active
{% endif %}
{% endblock employeeClass %}

{% block patientClass %}
{% if activeclass == 2 %}
active
{% endif %}
{% endblock patientClass %}

{% block managementClass %}
{% if activeclass == 3 %}
active
{% endif %}
{% endblock managementClass %}

{% block title %}Q1{% endblock title %}

{% block content %}
<br><br>
<center>
<div class='formback'> 
<h1>Question 1</h1>
<form name='frm' action='/view/3/q1' method='POST'>
    <div class='frmtxt'>Enter a Date</div>
    <input type='date' name='date' placeholder='Date' value=''>
    <a href='/view/3/q1'><input type='submit' value='View' class='updatebtn' name = 'btn'></a>
</form>
</div>
</center>
{% endblock content %}
